{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "printWidth": 120,
    "semi": true,
    "trailingComma": "all",
    "vueIndentScriptAndStyle": true,
    "tabWidth": 4,
    "singleQuote": true
}